/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  @apply text-gray-500;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
section {
  @apply flex items-center justify-center;
}

.btn {
  @apply px-5 py-2;
  @apply rounded;
  @apply transition-colors duration-[0.5s];
  @apply w-full;
}

.btn-banner {
  @apply bg-primary-color font-bold text-white hover:bg-slate-600;
}

.btn-timer {
  @apply bg-white font-bold text-primary-color hover:bg-slate-300;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.input_style {
  @apply w-full rounded-md border-[1px] border-primary-color px-5 py-2 text-primary-color outline-none;
}

.input_checkout {
  @apply w-full rounded-md border-[1px] border-card-bg-01 px-5 py-2 text-primary-color outline-none;
}

.flexEvenly {
  @apply flex items-center justify-evenly;
}

.active-stop-icon {
  @apply h-4 w-4 bg-red-400;
}

*::-webkit-scrollbar {
  width: 6px;
}

/* Style the scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: #0a1d37;
  border-radius: 0.375rem;
}

/* Style the scrollbar track */
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide the scrollbar corner */
*::-webkit-scrollbar-corner {
  display: none;
}
/* add * behind the label that behind the requierd input */
label:has(+ [required])::after {
  content: "*";
  color: red;
  padding-left: 3px;
}
