/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Merienda", cursive;
}

svg {
  @apply text-2xl;
}

img {
  @apply object-cover object-center;
}

@layer components {
  .input {
    @apply w-full items-center rounded-md bg-light-color/60 p-[10px] text-primary-color-light outline-none transition-all placeholder:text-sm placeholder:text-primary-color-light dark:bg-main-color/55 dark:text-primary-color dark:placeholder:text-primary-color;
    &:-webkit-autofill {
      -webkit-text-fill-color: #253b45;
      box-shadow: 0 0 0px 1000px rgb(218 243 255 / 0.6) inset;
      caret-color: #253b45;
    }
  }

  .dark .input:-webkit-autofill {
    -webkit-text-fill-color: #88d07a;
    box-shadow: 0 0 0px 1000px rgba(14, 16, 19, 0.923) inset;
    caret-color: #88d07a;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexEvenly {
    @apply flex items-center justify-evenly;
  }
}

/* scrollbar Syles */
*::-webkit-scrollbar {
  @apply w-[5px];
}
*::-webkit-scrollbar-track {
  @apply bg-light-color dark:bg-main-color;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-color-light dark:bg-primary-color;
}

/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  @apply w-[8px];
}

/* Horizontal scrollbar */
*::-webkit-scrollbar:horizontal {
  @apply h-[10px];
}
