/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  @apply text-primary-color;
  @apply bg-main-color;
}

svg {
  font-size: 24px;
  cursor: pointer;
}

img {
  @apply object-cover object-center;
}

@layer components {
  .input {
    @apply w-full rounded-md border border-gray-200 p-[10px] outline-none transition-all placeholder:text-sm;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexEvenly {
    @apply flex items-center justify-evenly;
  }
}

/* scrollbar Syles */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #bcd2e0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  @apply bg-primary-color;
}

/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  width: 10px;
}

/* Horizontal scrollbar */
*::-webkit-scrollbar:horizontal {
  height: 10px;
}
